h1{
	
	font: 400 2em ARIAL, sans-serif;
	  text-align:center;
	  background-color:#E3E4E5;
	  color: #000000;
	  text-decoration:underline;
	  
	
}

 h2{
	  
	  font: 400 1.8em ARIAL, sans-serif;
	  
	  background-color:#E3E4E5;
	  color: #000000;
	  text-decoration:underline;
	  text-align:center;
	  
  }
  
  
  h3{
	  
	  font: 400 1.5em ARIAL, sans-serif;
	  background-color:#E3E4E5;
	  color: #000000;
	   text-align:center;
	  
  }
  
  h4{
	  font: 400 1.2em ARIAL, sans-serif;
	  background-color:#E3E4E5;
	  color: #000000;
	   text-align:center;
	  
  }